<h4>Application Form</h4>
<style>
  div {
    margin-bottom: 10px;
  }
</style>
<form action="/job/{{job.id}}/apply" method="POST">
  <div>
    <label>Full Name</label><br>
    <input type="name" required name="fullname" placeholder="Aani Bruno">
  </div>

  <div>
    <label>Email</label><br>
    <input type="text" name="email" required placeholder="aani@xyz.com">
  </div>

  <div>
    <label>LinkedIn</label><br>
    <input type="url" name="linkedin" placeholder="linkedin.com/in/aani">
  </div>

  <div>
    <label>Education</label><br>
    <textarea name="education"></textarea>
  </div>

  <div>
    <label>Work Experience</label><br>
    <textarea name="work_experience"></textarea>
  </div>

  <div>
    <label>Resume URL</label><br>
    <input type="url" name="resume_url">
  </div>

  <div class="h-captcha" data-sitekey=captcha_secret></div>

  <input type="submit">
</form>
<script src="https://hcaptcha.com/1/api.js" async defer></script>