<footer class="text-center text-muted pt-4" style="background: linear-gradient(to bottom, #f8f9fa, #d1d1d1);">
  <div class="container">
    
    
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item">
        <a class="nav-link px-3 text-muted" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 text-muted" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 text-muted" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 text-muted" href="#">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-3 text-muted" href="#">About</a>
      </li>
    </ul>

    <hr class="my-2" style="opacity: 0.2;"/>
    
    <p class="pb-3 mb-0">&copy; 2025 Happy Careers, Inc</p>
  </div>
</footer>
