<!DOCTYPE html>
<html>
  <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Flask Replit</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
      <style>
        
        #banner{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          height:360px;
          object-fit: cover;
        }
        .body-text{
          font-family:"roboto";
        }
        
          
      </style>
   </head>
  
   <body>
     
     
     <div class="container">
     <h1 class="text-center mt-4 mb-4">Happy Careers</h1>
     <img class=".img-fluid" src="static/career_quotes.jpg" width="100%" height="200">
     <h2 class="text-center mt-4 mb-4">About Happy</h2>
     <P class="blockquote">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</P>
     <H2 class="text-center mt-4 mb-4">Open Positions</H2>
     <p>TODO</p>
     <div style="text-align:center;">
     <button src="contact.html">Contact Us</button>
     </div>
    </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
    <footer>
      <p style="text-align:center;">&copy; 2025 Happy Careers</p>
    </footer>
  
</html>
   
    